/* ***** BEGIN LICENSE BLOCK *****
 * Version: MPL 1.1/GPL 2.0/LGPL 2.1
 *
 * The contents of this file are subject to the Mozilla Public License Version
 * 1.1 (the "License"); you may not use this file except in compliance with
 * the License. You may obtain a copy of the License at
 * http://www.mozilla.org/MPL/
 *
 * Software distributed under the License is distributed on an "AS IS" basis,
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
 * for the specific language governing rights and limitations under the
 * License.
 *
 * The Original Code is Mozilla Help.
 *
 * The Initial Developer of the Original Code is
 * R.J. Keller
 * Portions created by the Initial Developer are Copyright (C) 2003
 * the Initial Developer. All Rights Reserved.
 *
 * Contributor(s):
 *
 * Alternatively, the contents of this file may be used under the terms of
 * either the GNU General Public License Version 2 or later (the "GPL"), or
 * the GNU Lesser General Public License Version 2.1 or later (the "LGPL"),
 * in which case the provisions of the GPL or the LGPL are applicable instead
 * of those above. If you wish to allow use of your version of this file only
 * under the terms of either the GPL or the LGPL, and not to allow others to
 * use your version of this file under the terms of the MPL, indicate your
 * decision by deleting the provisions above and replace them with the notice
 * and other provisions required by the GPL or the LGPL. If you do not delete
 * the provisions above, a recipient may use your version of this file under
 * the terms of any one of the MPL, the GPL or the LGPL.
 *
 * ***** END LICENSE BLOCK ***** */
@import url("chrome://help/content/platformClasses.css");

body {
	margin: 2ex;
	font-family: sans-serif;
	font-size: 0.75em;
	max-width: 120ex;
}

dd { -moz-margin-start: 0px; margin-bottom: 1em; }
dt { font-size: 10pt; font-weight: bold; }
tt { font-size: 10pt; }

:link:hover,
:visited:hover { color: -moz-activehyperlinktext; }

h1 { font-size: 20pt; }
h2 { border-top: 1px solid black; font-size: 16pt; padding-top: 0.2em; }
h3 { color: #009; font-size: 10pt; margin-bottom: 0px; margin-top: 35px; }

kbd { font-family: sans-serif; }

.defaultTable { border-collapse: collapse; border: 1px solid grey;
  width: 100%; }

.defaultTable td { border: 1px solid grey; padding: 4px; }

.defaultTable th { background-color: #99ccff;
  border: 1px solid grey; font-size: 10pt; padding: 4px; text-align: left; }

.tbody-default > tr:nth-child(2n) {
  background-color: #eeeeee;
}

.boilerPlate { font-size: 7pt; }

.commandColumn { width: 40%; }
.osFirstColumn { width: 20%; }
.osSecondColumn { width: 20%; }
.osThirdColumn { width: 20%; }

p:first-child { padding-top: 0; margin-top: 0; }

.separate > li { margin-bottom: 0.5em; }

.contentsBox {
	margin-top: 12px;
	background-color: #cccccc;
	border: 1px solid black;
	width: 300px;
	padding: 1em;
}

.contentsBox > ul {
	list-style-type: none;
}

a[href^="http://"]:after, a[href^="https://"]:after, a[href^="x-moz-url-link:"]:after {
	content: url("images/web-links.png");
}

@media print {
  h1,h2,h3,h4,h5,h6 {
    page-break-after: avoid;
    page-break-inside: avoid;
  }
}
