/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/*
 * This file contains all localizable skin settings such as 
 *   font, layout, and geometry
 */
window { 
  font: 3mm tahoma,arial,helvetica,sans-serif;
}

/* see bug-jp 4303 */
#autoSelectLastProfile {
  white-space: nowrap;
}

/* not to show scroll bar in the reporter form */
#reportForm #description {
  max-height: 6.8em;
}

/* Workaround for SeaMonkey's Preferences dialog */
@-moz-document url(chrome://communicator/content/pref/preferences.xul) {
  #prefsTree {
  width: 17em !important;
  }
}



